html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
    background: url(../img/1.jpg) no-repeat center top / cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.heading {
    width: 100%;
    background: #fff5f5;
}

.menu {
    float: right;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 15px;
}

.menu li {
    float: left;
    display: block;
    margin-right: 45px;
    font-size: 18px;
}

.menu img {
    widows: 20px;
    height: 20px;
}

.menu a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
}

.start_titles {
    text-transform: uppercase;
    text-align: center;
}

.welcome_title {
    margin-top: 50px;
    font-size: 38px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 70px;
}   

.button {
    background: #fed136;
    color: #222222;
    border-radius: 3px;
    display: block;
    width: 243px;
    padding: 28px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: 0;
}

.button:active {
    background: #efb724;
}

.start_button {
    margin-top: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

footer {
    text-align: right;
    color: #777;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-bottom: 5px;   
}

.github {
    margin: 0 auto;
    padding: 0;
    width: 20px;
    height: 20px;
}