html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
    background: url(../img/2.jpg) no-repeat center top / cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.heading {
    position: fixed;
    width: 100%;
    background: #fff5f5;
}

.logout img {
    float: left;
    widows: 20px;
    height: 20px;
}

.out {
    float: left;
    margin-left: 45px;
}

.menu {
    float: right;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 15px;
}

.menu li {
    display: inline;
    margin-right: 45px;
    font-size: 18px;
}

.menu img {
    widows: 20px;
    height: 20px;
}

.menu a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
}

.title {
    padding-top: 90px;
    margin-right: 45px;
    margin-left: 45px;
    font-size: 70px;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    display: inline;
}

.title_signin {
    height: 91px;
}

.container {
    margin: 30px 45px;
}

.notes_container {
    margin-right: 20%;
}

input {
    color: #222222;
    background: #fff5f5;
    display: block;
    border: 0;
    width: 300px;  
    outline-color: #C9C9C9;
    padding: 10px 20px;
}

.adding p {
    color: #222222;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

textarea {
    color: #222222;
    background: #fff5f5;
    display: block;
    border: 0;
    width: 300px;
    height: 300px;
    outline-color: #C9C9C9;
    padding: 10px 20px;
    resize: none;
}

.topic_change {
    height: 15px;
    overflow: auto;
    text-overflow: ellipsis;
}

.register p {
    text-align: center;
    color: #222222;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.register input {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.note {
    padding: 10px 20px;
    text-align: left;
    color: #222222;
    float: left;
    background: #fff5f5;
    margin-right: 20px; 
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
}

.note_head {
    height: 25px;
    width: 300px;
    font-size: 22px;
}

.note_head img {
    float: left;
    widows: 25px;
    height: 25px;
    padding-left: 10px;
}

.topic {    
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 25px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
}

.note_text {
    padding-top: 15px;
    height: 250px;
}

.note_text p {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    height: 232px;
    word-wrap: break-word;
    overflow-y: auto;
}

.search {
    margin-bottom: 20px;
}

.search input {
    display: inline;
    margin: 0;
    padding: 10px 20px;
}

#search_text {
    margin-right: 16px;
    /* width: 195px; */
}

.button {
    background: #fed136;
    color: #222222;
    border-radius: 3px;
    display: block;
    width: 243px;
    padding: 28px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    outline: none;
}

.button:active {
    background: #efb724;
}

.button_sign {
    float: right;
}

.button_add {
    margin-left: 0px;
    margin-top: 20px;
}

.button_notes {
    margin-left: 60%;
    position: fixed;
    display: inline;
}

.button_search {
    background: #C9C9C9;
    color: #222222;
    width: 100px;
    border-radius: 3px;
    display: inline;
    padding: 10px 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    outline: none;
}

.button_search:active {
    background: #bcbcbc;
}

input[type="checkbox"] {
    display: inline;
    font-size: 10px;
    margin: 0;
    margin-right: 10px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    cursor: pointer;
    background: red;
}

.date {
    float: right;
    color: #a3a3a3;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 1px;
    border-color: #C9C9C9;
    background-color: #C9C9C9;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #bcbcbc;
    background-color: #bcbcbc;
}

footer {
    text-align: right;
    color: #777;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-bottom: 5px;   
}

.github {
    margin: 0 auto;
    padding: 0;
    width: 20px;
    height: 20px;
}